name: Deploy Strapi to ECS

on:
  push:
    branches:
      - main

env:
  AWS_REGION: ap-south-1
  ECR_REGISTRY: 347026174334.dkr.ecr.ap-south-1.amazonaws.com
  ECR_REPOSITORY: strapi-repo
  IMAGE_TAG: latest

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # ✅ STEP 1 — Terraform FIRST
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve

      # ✅ STEP 2 — Then Docker
      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region ap-south-1 | \
          docker login --username AWS --password-stdin 347026174334.dkr.ecr.ap-south-1.amazonaws.com

      - name: Build, Tag & Push Docker Image
        run: |
          docker build -t strapi:latest ./my-strapi-fargate
          docker tag strapi:latest 347026174334.dkr.ecr.ap-south-1.amazonaws.com/strapi-repo:latest
          docker push 347026174334.dkr.ecr.ap-south-1.amazonaws.com/strapi-repo:latest
