name: Deploy Strapi to ECS

on:
  push:
    branches:
      - main

env:
  AWS_REGION: ap-south-1

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - run: aws ecr get-login-password --region $AWS_REGION |
             docker login --username AWS --password-stdin 347026174334.dkr.ecr.ap-south-1.amazonaws.com

      - run: |
          docker build -t strapi ./my-strapi-fargate
          docker tag strapi:latest 347026174334.dkr.ecr.ap-south-1.amazonaws.com/fargate-ecr-repo:latest
          docker push 347026174334.dkr.ecr.ap-south-1.amazonaws.com/fargate-ecr-repo:latest

      - run: |
          cd terraform
          terraform init
          terraform apply -auto-approve
